body{
    font-family: 'Roboto', sans-serif;
}
.vh100{
    height:100vh;
}
.img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
input[name=""]{
    color: #575757;     
}
.divaliados{
    display: flex;
    text-align: left;
    margin: 4%;
    padding: 5%;
    margin-top: 5%;
    border-radius: 5px;
    color: black;
    text-decoration: none !important;
    align-items: center;
    justify-content: space-between;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.7rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.boton{
    display: block;
}
ul{
    margin: auto; 
    display: block; 
    margin-top: 30px;
}
ul li{ 
    list-style: none;
}
.activeState{    
    background-color:#EE382A;
    color: white
}
.Invalid{
    margin: 0px;
    font-size: 12px;
}
.roundbutton {    
    border-radius: 50%;
    color: #f5f5f5;
    background: #FFFFFF;
    /*box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);*/
    padding-left: 1.3%;
    padding-top: 0.7%;
    padding-right: 1.3%;
    padding-bottom: 0.7%;
    border: 0px;
    margin-right: 6%;
    margin-left: 6%;  
    cursor: pointer;
}
.font-txt{    
    font-size: 0.8em !important;
}
.crearbo{    
    background-color: #EF3829 !important;
    color: white !important;
    font-size: 0.7em !important;
    width: 89px !important;
    cursor: pointer !important;
}
.botonModal{    
    background-color: #EF3829;
    color: white;
    font-size:16px ;
    width: 35%;
    padding: 1.5%;
    border: 0px;
    border-radius: 5%;
}
.botonModal1{    
    background-color: #474747;
    color: white;
    font-size:16px ;
    width: 35%;
    padding: 1.5%;
    border: 0px;
    border-radius: 5%;
}
.botonCrear{
    background-color: #EF3829 !important;
    color: white !important;
    width: 15% !important;
    margin-left: 3% !important;
}
.botonCancelar{
    background-color: #474747 !important;
    color: white !important;
    width: 15% !important;
}
.parrafoModal{
    font-size: 19px;
    line-height: 100%;
    color:#444444
}
.botonINA{
    background-color: black !important;
    color: white !important;
    font-size: 1em !important;
    width:76px !important;
    cursor: pointer !important;
}

.botonINA1{
    background-color : #EF3829 !important;
    color: white !important;
    font-size: 1em !important;
    width:68px !important;
    cursor:pointer !important;
}
.formInvalid .has-error input {
    border-color: #ff0039;
}

.subFormControl{
    margin: 0px !important;
}
.roundbutton:hover{
    box-shadow: 0 0 10px rgba(33,33,33,.2); 
}
.editboton{
    cursor: pointer;
}
/*.editboton:hover{
    box-shadow: 0 0 20px rgba(33,33,33,.2);
}*/
.styleViz{
    vertical-align: inherit !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.inputS{
    
    border: 1px solid #c7c7c7 !important;
    padding: 2% 3% !important;
}
.svg-inline--fa.fa-w-8 {
    width: -0.5em !important;
}
.title{
    color:#E94130;
    margin-top: 4%;
    font-size: 3.3em;
}
.containerInput{
    display: flex;
    align-items: center;
}
.inputCasos{
    width: 100px;
    text-align: center;
}
