<div class="container-fluid" ng-hide="showAliados">
    <h1 class="title">Aliados</h1>
    <div>
         <div class="card overflow-auto" style="height: 75vh;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <form class="form-inline" name="formuBus" class="formInvalid" ng-submit="Buscar()"  novalidate>
                            <select style="width: 19%" class="form-control" ng-model="buscar.tipo" name="valueB" required>
                                <option value="1">Nombre</option> 
                                <option value="2">Apellidos</option> 
                                <option value="3">Cedula</option>
                                <option value="4">Correo</option>
                                <option value="5">Empresa</option>
                                <option value="6">Cargo</option>
                            </select>
                            <div class="form-group">
                                <div class="input-group" ng-class="{'has-error':InvalidBu && formuBus.textB.$invalid}">
                                    <input type="text" class="form-control inputS ml-3" ng-model="buscar.parametro" name="textB" required >
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="submit" style="background-color: #EF3829 !important;border: 0px !important;">
                                        <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <span  ng-show="InvalidBu && formuBus.textB.$invalid" class="help-block text-danger Invalid ml-2"> 
                                Campo obligatorio!
                            </span>         
                        </form>
                        <span style="position: absolute;top: 16px;right: 345px;" us-spinner spinner-theme="smallRedBus" spinner-on="showSpinnerBus"></span>  
                    </div>
                    <div class="col-md-4 text-right">
                        <a ng-click="showcrear()"  class="btn crearbo" style="margin-left: 61%">Crear Nuevo</a>
                    </div>    
                </div>
                <table class="table table-striped text-center table-borderless">  
                    <span us-spinner spinner-theme="smallRed" spinner-on="showSpinner"></span>
                    <thead>
                        <tr style="font-weight: 600;color: #E94130">
                            <td>Nombres</td>
                            <td>Apellidos</td>
                            <td>N.Documento</td>
                            <td>Correo electrónico</td>
                            <td>Empresa</td>
                            <td>Cargo</td>
                        </tr>
                    </thead>
                    <tbody style="font-size: 0.7em;font-weight: bold;">
                        <tr ng-repeat="aliados  in aliado | filter:search">
                            <td style="vertical-align: inherit;text-align:left;padding-left: 12px;padding-right: 1px;">{{aliados.nombres}}</td>
                            <td class="styleViz">{{aliados.apellidos}}</td>
                            <td class="styleViz">{{aliados.cedula}}</td>
                            <td class="styleViz">{{aliados.correo}}</td>
                            <td class="styleViz">{{aliados.empresa}}</td>
                            <td class="styleViz">{{aliados.cargo}}</td>
                            <td class="styleViz" ng-if="aliados.activo == false">Activo</td>
                            <td class="styleViz" ng-if="aliados.activo == true">Inactivo</td>
                            <td style="text-align: right;padding-right:18px;padding-bottom: 0px;padding-top: 0px"><a ng-click="showedit(aliados)" class="editboton"><img  class="img-fluid" style="margin-top: 6px;margin-right: 5px;" src="img/editar.png"></a>
                            <!--<a ng-click="modalhabIopen()" ng-if="aliados.activo == false" class="btn botonINA">Inhabilitar</a>
                            <a ng-click="modalinIopen()" ng-if="aliados.activo == true" class="btn botonINA1">Habilitar</a>-->
                        </tr>
                    </tbody>
                </table>
            </div>            
        </div>
        <div class="text-center p-3 mt-2" style="font-weight: 400;">
            <button class="roundbutton" ng-click='back()'>
                <img class="img-fluid" src="img/flechagris.png">
            </button >
               <!-- Página<span class="p-2 pl-4 pr-4 ml-4 mr-3" style="border: 1px solid #707070">{{currentPage}}</span>de {{pageSize}}-->
            <button class="roundbutton" ng-click='next()'>
                <img class="img-fluid" src="img/flecharoja.png">
            </button>
            <select id="MySelect" ng-change="page()" ng-model="pageSize" class="custom-select" style="width: 7% !important;"> 
                <option>10</option> 
                <option>25</option> 
                <option>50</option>
                <option>100</option>
            </select><!--{{aliado.length}}-->
        </div>        
    </div>
</div>


<!----------------------------------------------------------------Crear Nuevo Aliado------------------------------------------------------------------------------>
    
<div ng-show="showAliados1" >
    <h1 class="title">Crear nuevo aliado</h1>
    <div class="card">
        <div class="card-body">
            <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información personal</h1>
            <form name="formu" class="formInvalid" ng-submit="Nuevo()"  novalidate>
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 5%;">
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.nameU.$invalid}">
                            <label  class="form-label mr-2 font-txt">Nombre(s)</label>
                            <input ng-class="{'has-error': Invalid && formu.nameU.$invalid}" type="text" class="form-control" name="nameU" placeholder="Ingresa tu nombre" ng-model="newAliado.nombres"  required>                            
                            <span ng-show="Invalid && formu.nameU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.emailU.$invalid}">
                            <label  class="col-xs-3 col-form-label mr-2 font-txt">Correo electrónico</label>
                            <input type="text" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"  name="emailU" placeholder="Ingresa tu correo" ng-model="newAliado.correo" required>                            
                              <span ng-show="Invalid && formu.emailU.$invalid" class="help-block text-danger Invalid"> 
                              Campo obligatorio!
                              </span>
                              <p class="help-block text-danger Invalid" ng-show="formu.emailU.$error.pattern">Email invalido</p>
                        </div>        
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.lastnameU.$invalid}">
                            <label  class="form-label mr-2 font-txt">Apellidos(s)</label>
                            <input type="text" class="form-control"  name="lastnameU" placeholder="Ingresa tus apellidos" ng-model="newAliado.apellidos" required>                                                            
                            <span ng-show="Invalid && formu.lastnameU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.dateU.$invalid}">
                            <label  class="col-xs-3 col-form-label mr-2 font-txt">Fecha de nacimiento</label>
                            <input type="date" class="form-control"  name="dateU" placeholder="Ingresa tu fecha de nacimiento" ng-model="newAliado.fechaNacimiento" required>                            
                            <span ng-show="Invalid&& formu.dateU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>        
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.documentU.$invalid}">
                            <label  class="form-label mr-2 font-txt">Número de documento</label>
                            <input type="number" string-to-number class="form-control"  name="documentU" placeholder="Ingresa tu número de documento" ng-model="newAliado.cedula" required>                            
                            <span ng-show="Invalid && formu.documentU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.placeU.$invalid}">
                            <label  class="col-xs-3 col-form-label mr-2 font-txt">Lugar de nacimiento</label>                           
                            <input type="text" class="form-control"  name="placeU" placeholder="Ingresa tu lugar de nacimiento" ng-model="newAliado.lugarNacimiento" required>                                                         
                            <span ng-show="Invalid && formu.placeU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>    
                    </div>
                </div>
                    <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información laboral</h1>
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 10%;">
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.companyU.$invalid}">
                            <label  class="form-label mr-2 font-txt">Empresa</label>
                            <input type="text" class="form-control"  name="companyU" placeholder="Ingresa una empresa" ng-model="newAliado.empresa" required>                                                               
                            <span ng-show="Invalid && formu.companyU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.areaU.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Dirección área laboral</label>
                            <input type="text" class="form-control"  name="areaU" placeholder="Ingresa un área laboral" ng-model="newAliado.direccion" required>                                
                            <span ng-show="Invalid && formu.areaU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>        
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.cargoU.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Cargo</label>
                            <input type="text" class="form-control"  name="cargoU" placeholder="Ingresa un cargo" ng-model="newAliado.cargo" required>                               
                            <span ng-show="Invalid && formu.cargoU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.regionU.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Región</label>
                            <input type="text" class="form-control"  name="regionU" placeholder="Ingresa una region" ng-model="newAliado.region" required>                                
                            <span ng-show="Invalid && formu.regionU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>        
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.gerenciaU.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Gerencia</label>
                            <input type="text" class="form-control"  name="gerenciaU" placeholder="Ingresa una gerenciae" ng-model="newAliado.gerencia" required>                                
                            <span ng-show="Invalid && formu.gerenciaU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>        
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formu.vinculacionU.$invalid}">                       
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Tipo de vinculación</label>
                            <input type="text" class="form-control" name="vinculacionU" placeholder="Ingresa un tipo de vinculación" ng-model="newAliado.tipoVinculacion" required>                            
                            <span ng-show="Invalid && formu.vinculacionU.$invalid" class="help-block text-danger Invalid"> 
                                 Campo obligatorio!
                            </span>    
                        </div>        
                    </div>    
                </div>   
                <div class="boton text-center" style="margin-bottom: 3%;">
                    <button ng-click="cancelar()" type="button" class="btn botonCancelar">Cancelar</button> 
                    <button type="submit" class="btn botonCrear">Crear</button>  
                </div>              
            </form>
        </div>    
    </div>    
</div>



<!---------------------------------------------------------Editar Aliado------------------------------------------------------------------------>
<div ng-show="showAliados2">
    <h1 class="title">Editar aliado</h1>
    <div class="card">
        <div class="card-body">
            <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información personal</h1>
            <form name="formE" class="formInvalid" ng-submit="saveUser()" novalidate>
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 5%;">
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.nameU.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Nombre(s)</label>
                            <input type="text" class="form-control" name="nameU" ng-model="aliados.nombres" placeholder="Ingresa tu nombre" required>

                            <span ng-show="InvalidEA && formE.nameU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.emailU.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Correo electrónico</label>
                            <input type="email" class="form-control"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="emailU" ng-model="aliados.correo" placeholder="Ingresa tu correo" required>
                            <span ng-show="InvalidEA && formE.emailU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                            <p class="help-block text-danger Invalid" ng-show="formE.emailU.$error.pattern">Email invalido</p>
                        </div>    
                    </div>

                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.lastnameU.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Apellidos(s)</label>
                            <input type="text" class="form-control" name="lastnameU" ng-model="aliados.apellidos" placeholder="Ingresa tus apellidos" required>
                            <span ng-show="InvalidEA && formE.lastnameU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.dateU.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Fecha de nacimiento</label>
                            <input type="text" class="form-control" name="dateU" ng-model="aliados.fechaNacimiento" placeholder="Ingresa tu fecha de nacimiento">
                            <span ng-show="InvalidEA && formE.dateU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>

                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.documentU.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Número de documento</label>
                            <input type="number" string-to-number class="form-control" name="documentU" ng-model="aliados.cedula" placeholder="Ingresa tu número de documento" required>
                            <span ng-show="InvalidEA && formE.documentU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.placeU.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Lugar de nacimiento</label>
                            <input type="text" class="form-control" name="placeU" ng-model="aliados.lugarNacimiento" placeholder="Ingresa tu dirección de nacimiento">
                            <span ng-show="InvalidEA && formE.placeU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>
                </div>
                <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información laboral</h1>
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 10%;">
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.companyU.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Empresa</label>
                            <input type="text" class="form-control" name="companyU" ng-model="aliados.empresa" placeholder="Ingresa una empresa" required>
                            <span ng-show="InvalidEA && formE.companyU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.areaU.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Dirección área laboral</label>
                            <input type="text" class="form-control" name="areaU" ng-model="aliados.direccion" placeholder="Ingresa un área laboral" required>
                            <span ng-show="InvalidEA && formE.areaU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>

                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.cargoU.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Cargo</label>
                            <input type="text" class="form-control" name="cargoU" ng-model="aliados.cargo" placeholder="Ingresa un cargo" required>
                            <span ng-show="InvalidEA && formE.cargoU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.regionU.$invalid}">    
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Región</label>
                            <input type="text" class="form-control" name="regionU" ng-model="aliados.region" placeholder="Ingresa una region" required> 
                            <span ng-show="InvalidEA && formE.regionU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>

                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.gerenciaU.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Gerencia</label>
                            <input type="text" class="form-control" name="gerenciaU" ng-model="aliados.gerencia" placeholder="Ingresa una gerenciae" required>
                            <span ng-show="InvalidEA && formE.gerenciaU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span> 
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidEA && formE.vinculacionU.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Tipo de vinculación</label>
                            <input type="text" class="form-control" name="vinculacionU" ng-model="aliados.tipoVinculacion" placeholder="Ingresa un tipo de vinculación" required>
                            <span ng-show="InvalidEA && formE.vinculacionU.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>    
                </div>

                <div class="boton text-center" style="margin-bottom: 3%;">
                    <button ng-click="cancelar1()" type="button" class="btn botonCancelar">Cancelar</button> 
                    <button type="submit" class="btn botonCrear">Guardar</button>
                </div>    
            </form>
        </div>    
    </div>    
</div>

<!--------------------------------------------------------------------------Modal crear Aliado-------------------------------------------------------------------------------->

<div id="modalAliado" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal">El nuevo aliado ha sido creado<br>exitosamente.</p> 
                <div class="text-center pb-4 pt-4">
                    <button data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--------------------------------------------------------------------------Modal editar Aliado-------------------------------------------------------------------------------->

<div id="modaleditAliado" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal">Los datos del aliado han<br>sido guardados exitosamente</p> 
                <div class="text-center pb-4 pt-4">
                    <button type="button" data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------Modal Deshabilitar Aliado-------------------------------------------------------------------------------->

<div id="modalDesAliado" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal">¿Está seguro que desea deshabilitar<br>a este aliado?</p> 
                <div class="text-center pb-4 pt-4">                   
                    <button type="button" data-dismiss="modal" class="botonModal1">Cancelar</button>
                    <button type="button" data-dismiss="modal" class="botonModal" ng-model="aliado.states" ng-click="ModalINfun()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------Modal habilitar Aliado-------------------------------------------------------------------------------->
<div id="modalhabAliado" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal">¿Está seguro que desea habilitar<br>a este aliado?</p> 
                <div class="text-center pb-4 pt-4">                   
                    <button type="button" data-dismiss="modal" class="botonModal1">Cancelar</button>
                    <button type="button" data-dismiss="modal" class="botonModal" ng-model="aliado.states" ng-click="ModalINfun()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------Modal error-------------------------------------------------------------------------------->

<div id="modalError" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal" >{{mensajeError}}</p> 
                <div class="text-center pb-4 pt-4">
                    <button data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------Modal error sv-------------------------------------------------------------------------------->

<div id="modalErrorsv" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal" >{{mensajeError}}</p> 
                <div class="text-center pb-4 pt-4">
                    <button data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
        