<div class="container-fluid">
    <h1 class="title">Control de casos</h1>
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="containerInput">
                <span class="mr-3">Cantiadad :</span> <input ng-model="dias" class="mr-3 inputCasos"> <a ng-click="actualizarDias()" class="btn crearbo">Actualizar</a>
            </div>
        </div>
    </div>
</div>

<div id="modalErrorsv" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal"> {{mensajeError}}</p> 
                <div class="text-center pb-4 pt-4">
                    <button data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="diasActualizados" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">Información actualizada exitosamente</p> 
                <div class="text-center pb-4 pt-4">
                    <button type="button" data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>