<div class="container-fluid" ng-hide="showDirectos">
    <h1 class="title">Directos</h1>
    <div ng-hide="busDiv">
        <div class="card overflow-auto" style="height: 75vh;">
            <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-inline" name="formuBusD" class="formInvalid" ng-submit="Buscar()"  novalidate>
                                        <select style="width: 25%" class="form-control" ng-model="buscar.tipo" name="valueB" required>
                                            <option value="1">Nombre</option> 
                                            <option value="2">N.Documento</option> 
                                            <option value="3">correo</option>
                                            <option value="4">Empresa</option>
                                            <option value="5">Cargo</option>
                                        </select>
                                        <div ng-class="{'has-error': InvalidBu && formuBusD.textB.$invalid}">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputS ml-3" ng-model="buscar.parametro" name="textB" required >
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" type="submit" style="background-color: #EF3829 !important;border: 0px !important;">
                                                    <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>    
                                        <span  ng-show="InvalidBu && formuBusD.textB.$invalid" class="help-block text-danger Invalid ml-2"> 
                                        Campo obligatorio!
                                        </span>        
                                </form>
                                <span style="position: absolute;top: 16px;right: 170px;" us-spinner spinner-theme="smallRedBus" spinner-on="showSpinnerBus"></span>  
                            </div>
                            <div class="col-md-6 text-right">
                                <a ng-click="showcrear()" class="btn crearbo">Crear Nuevo</a>
                            </div>    
                        </div>
                <table class="table table-striped text-center table-borderless">
                    <span us-spinner spinner-theme="smallRed" spinner-on="showSpinner"></span>
                    <thead>
                        <tr style="font-weight: 600;color: #E94130">
                            <td>Nombres</td>
                            <td>N.Documento</td>
                            <td>Correo electrónico</td>
                            <td>Empresa</td>
                            <td>Cargo</td>
                            <td>Estado</td>
                        </tr>
                    </thead>
                    <tbody style="font-size: 0.7em;font-weight: bold;">
                      <tr ng-repeat="directos  in directo | filter:search">
                        <td style="vertical-align: inherit;padding-left: 7px;padding-right: 1px;width: 15%">{{directos.nombres}}</td>
                        <!--<td class="styleViz">{{directos.apellidos}}</td>-->
                        <td class="styleViz">{{directos.cedula}}</td>
                        <td class="styleViz">{{directos.email}}</td>
                        <td class="styleViz">{{directos.compania}}</td>
                        <td class="styleViz">{{directos.cargo}}</td>
                        <td class="styleViz" ng-if="directos.activo == true">Activo</td>
                        <td class="styleViz" ng-if="directos.activo == false">Inactivo</td>
                        <td style="text-align: right;padding-right:18px;padding-bottom: 0px;padding-top: 0px;vertical-align: inherit"><a ng-click="showedit(directos)" class="editboton">
                        <img class="img-fluid" style="margin-top: 6px;margin-right: 5px;" src="img/editar.png"></a>
                        <a ng-click="modalIHabopen(directos)" ng-if="directos.activo == true" ng-model="directos.idUsuario"  class="btn botonINA">Inhabilitar</a>
                        <a ng-click="modalIopen(directos)" ng-if="directos.activo == false" ng-model="directos.idUsuario" class="btn botonINA1">Habilitar</a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>             
        </div>
        <div class="text-center p-3 mt-2" style="font-weight: 400;">
                <button class="roundbutton" ng-click='back()'>
                    <img class="img-fluid" src="img/flechagris.png">
                </button >
                    <!--Página<span class="p-2 pl-4 pr-4 ml-4 mr-3" style="border: 1px solid #707070">{{currentPage}}</span>de {{pageSize}}-->
                <button class="roundbutton" ng-click='next()'>
                    <img class="img-fluid" src="img/flecharoja.png">
                </button>
                <select id="MySelect" ng-change="page()" ng-model="pageSize" class="custom-select" style="width: 7% !important;"> 
                    <option selected>10</option> 
                    <option>25</option> 
                    <option>50</option>
                    <option>100</option>
                </select><!--{{directo.length}}-->    
        </div> 
    </div>
        
<!---------------------------------------------------------------------------------------------------------------------------------------------------->
    <div ng-show="busHide">
        <div class="card overflow-auto" style="height: 75vh;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <form class="form-inline" name="formuBusD" class="formInvalid" ng-submit="Buscar()"  novalidate>
                                <select style="width: 15%" class="form-control" ng-model="buscar.tipo" name="valueB" required>
                                    <option value="1">Nombre</option> 
                                    <option value="2">N.Documento</option> 
                                    <option value="3">correo</option>
                                    <option value="4">Empresa</option>
                                    <option value="5">Cargo</option>
                                </select>
                                <div ng-class="{'has-error': InvalidBu && formuBusD.textB.$invalid}">
                                    <div class="input-group">
                                        <input type="text" class="form-control inputS ml-3" ng-model="buscar.parametro" name="textB" required >
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="submit" style="background-color: #EF3829 !important;border: 0px !important;">
                                            <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <span  ng-show="InvalidBu && formuBusD.textB.$invalid" class="help-block text-danger Invalid ml-2"> 
                                Campo obligatorio!
                                </span>        
                        </form>
                        <span style="position: absolute;top: 16px;right: 380px;" us-spinner spinner-theme="smallRedBus" spinner-on="showSpinnerBus"></span>  
                    </div>
                    <div class="col-md-4 text-right">
                        <a ng-click="showcrear()" class="btn crearbo">Crear Nuevo</a>
                    </div>    
                </div>
                <table class="table table-striped text-center table-borderless">
                    <span us-spinner spinner-theme="smallRed" spinner-on="showSpinner"></span>
                    <thead>
                        <tr style="font-weight: 600;color: #E94130">
                            <td>Nombres</td>
                            <td>N.Documento</td>
                            <td>Correo electrónico</td>
                            <td>Empresa</td>
                            <td>Cargo</td>
                            <td>Estado</td>
                        </tr>
                    </thead>
                    <tbody style="font-size: 0.7em;font-weight: bold;">
                      <tr ng-repeat="directos  in directo | orderBy:'nombre'|startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td style="vertical-align: inherit;padding-left: 7px;padding-right: 1px;width: 10%;">{{directos.nombres}}</td>
                        <!--<td class="styleViz">{{directos.apellidos}}</td>-->
                        <td class="styleViz">{{directos.cedula}}</td>
                        <td class="styleViz" style="width: 10%">{{directos.email}}</td>
                        <td class="styleViz" style="width: 15%">{{directos.compania}}</td>
                        <td class="styleViz" style="width: 15%">{{directos.cargo}}</td>
                        <td class="styleViz" ng-if="directos.activo == true">Activo</td>
                        <td class="styleViz" ng-if="directos.activo == false">Inactivo</td>
                        <td style="text-align: right;padding-right:18px;padding-bottom: 0px;padding-top: 0px;vertical-align: inherit"><a ng-click="showedit(directos)" class="editboton">
                        <img class="img-fluid" style="margin-top: 6px;margin-right: 5px;" src="img/editar.png"></a>
                        <a ng-click="modalIHabopen(directos)" ng-if="directos.activo == true" ng-model="directos.idUsuario"  class="btn botonINA">Inhabilitar</a>
                        <a ng-click="modalIopen(directos)" ng-if="directos.activo == false" ng-model="directos.idUsuario" class="btn botonINA1">Habilitar</a>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    
        <div class="text-center p-3" style="font-weight: 400;">
            <button class="roundbutton" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <img class="img-fluid" src="img/flechagris.png">
            </button >
                Página<span class="border rounded-sm p-2 pl-4 pr-4 ml-4 mr-3">{{currentPage+1}}</span>de {{numberOfPages()}}
            <button class="roundbutton" ng-disabled="currentPage >= getdirectos().length/pageSize -1" ng-click="currentPage=currentPage+1">
                <img class="img-fluid" src="img/flecharoja.png">
            </button>
        </div> 
    </div>

    
<!---------------------------------------------------------------------------------------------------------------------------------------------------->   
</div>        

<!----------------------------------------------------------------Crear Nuevo Directo------------------------------------------------------------------------------>
    
<div ng-show="showDirectos1">
    <h1 class="title">Crear nuevo Directo</h1>
    <div class="card">
        <div class="card-body">
            <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;margin-top: 1%;">Información personal</h1>
            <form name="formuD" class="formInvalid" ng-submit="NuevoDir()"  novalidate>
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 2%;">
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.nameD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Apellido(s) y Nombre(s)</label>
                            <input type="text" class="form-control"  name="nameD" placeholder="Ingresa tu nombre" ng-model="newDirecto.nombres" required>     
                            <span ng-show="Invalid && formuD.nameD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.documentD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Cédula</label>
                            <input type="text" class="form-control"  name="documentD" placeholder="Ingresa tu número de documento" ng-model="newDirecto.cedula" required>
                            <span ng-show="Invalid && formuD.documentD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>    
                    </div>

                    <div class="col-md-4">
                        <!--<div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.lastnameD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Apellidos(s)</label>
                            <input type="text" class="form-control"  name="lastnameD" placeholder="Ingresa tus apellidos" ng-model="directos.apellidos" required>
                            <span ng-show="Invalid && formuD.lastnameD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>-->
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.emailD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Correo electrónico</label>
                            <input type="email" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" name="emailD" placeholder="Ingresa un correo" ng-model="newDirecto.email" required>
                              <span ng-show="Invalid && formuD.emailD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                              </span>
                              <p class="help-block text-danger Invalid" ng-show="formuD.emailD.$error.pattern">Email invalido</p>
                        </div>        
                    </div>

                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.edadD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Edad</label>
                            <input type="text" class="form-control" name="edadD" placeholder="Ingresa la edad" ng-model="newDirecto.edad" required>  
                            <span ng-show="Invalid && formuD.edadD.$invalid" class="help-block text-danger Invalid"> 
                              Campo obligatorio!
                            </span>
                        </div>        
                    </div>
                </div>
                <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información laboral</h1>
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 6%;">
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.companyD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Empresa</label>
                            <input type="text" class="form-control"  name="companyD" placeholder="Ingresa una empresa" ng-model="newDirecto.compania" required> 
                            <span ng-show="Invalid && formuD.companyD.$invalid" class="help-block text-danger Invalid"> 
                               Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.directioncoD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Dirección comité</label>
                            <input type="text" class="form-control"  name="directioncoD" placeholder="Ingresa la dirección de comité" ng-model="newDirecto.direccionComite" required>                              
                            <span ng-show="Invalid && formuD.directioncoD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.sedeD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Sede</label>
                            <input type="text" class="form-control" name="sedeD" placeholder="Ingresa una sede" ng-model="newDirecto.sede" required>                                
                            <span ng-show="Invalid && formuD.sedeD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>        
                    </div>

                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.cargoD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Cargo</label>
                            <input type="text" class="form-control"  name="cargoD" placeholder="Ingresa un cargo" ng-model="newDirecto.cargo" required>                                
                            <span ng-show="Invalid && formuD.cargoD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.cityD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Ciudad</label>
                            <input type="text" class="form-control"  name="cityD" placeholder="Ingresa una ciudad" ng-model="newDirecto.ciudad" required>                                
                            <span ng-show="Invalid && formuD.cityD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.DateinD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Fecha de ingreso</label>
                            <input type="date" class="form-control"  name="DateinD" placeholder="ingresa una fecha" ng-model="newDirecto.fechaingreso" required>                                
                            <span ng-show="Invalid && formuD.DateinD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>        
                    </div>

                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.gerenciaD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Gerencia</label>
                            <input type="text" class="form-control"  name="gerenciaD" placeholder="Ingresa una gerencia" ng-model="newDirecto.gerencia" required>                                
                            <span ng-show="Invalid && formuD.gerenciaD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': Invalid && formuD.regionD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Región</label>
                            <input type="text" class="form-control"  name="regionD" placeholder="Ingresa una región" ng-model="newDirecto.region" required>                                
                            <span ng-show="Invalid && formuD.regionD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>    
                        </div>        
                    </div>    
                </div>                   
                <div class="boton text-center" style="margin-bottom: 1%;">
                    <button ng-click="cancelar()" type="button" class="btn botonCancelar">Cancelar</button> 
                    <button type="submit" class="btn botonCrear">Crear</button>
                </div>    
            </form>
        </div>    
    </div>    
</div>



<!---------------------------------------------------------Editar Directo------------------------------------------------------------------------>

<div ng-show="showDirectos2">
    <h1 class="title">Editar directo</h1> 
    <div class="card">
        <div class="card-body">
            <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información personal</h1>
            <form name="formED" class="formInvalid" ng-submit="saveUser()" novalidate>
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 2%;">
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.nameD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Apellido(s) y Nombre(s)</label>
                            <input type="text" class="form-control" name="nameD" ng-model="directos.nombres" placeholder="Ingresa tu nombre" required>
                            <span ng-show="InvalidED && formED.nameD.$invalid"  class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.documentD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Cédula</label>
                            <input type="text" class="form-control" name="documentD" ng-model="directos.cedula" placeholder="Ingresa tu número de documento" required>
                            <span ng-show="InvalidED && formED.documentD.$invalid"  class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>
                    
                    <div class="col-md-4">
                        <!--<div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.lastnameD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Apellidos(s)</label>
                            <input type="text" class="form-control" name="lastnameD" ng-model="directos.apellidos" placeholder="Ingresa tus apellidos" required>
                            <span ng-show="InvalidED && formED.lastnameD.$invalid"  class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>-->    
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.emailD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Correo electrónico</label>
                            <input type="email" class="form-control" name="emailD" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="directos.email"  placeholder="Ingresa un correo" required>
                            <span ng-show="InvalidED && formED.emailD.$invalid"  class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                            <p class="help-block text-danger Invalid" ng-show="formED.emailD.$error.pattern">Email invalido</p>
                        </div>    
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.edadD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Edad</label>
                            <input type="text" class="form-control" name="edadD" ng-model="directos.edad" placeholder="Ingresa la edad" required>
                            <span ng-show="InvalidED && formED.edadD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>
                </div>
                    <h1 style="font-size: 1em;padding-left: 2.5%;font-weight: bold;">Información laboral</h1>
                <div class="form-group row" style="padding-left: 6%;padding-right: 8%;margin-bottom: 6%;">
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.companyD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Empresa</label>
                            <input type="text" class="form-control" name="companyD" ng-model="directos.compania" placeholder="Ingresa una empresa" required>
                            <span ng-show="InvalidED && formED.companyD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.directioncoD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Dirección comité</label>
                            <input type="text" class="form-control" name="directioncoD" ng-model="directos.direccionComite" placeholder="Ingresa la dirección de comité" required>
                            <span ng-show="InvalidED && formED.directioncoD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.sedeD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Sede</label>
                            <input type="text" class="form-control" name="sedeD" ng-model="directos.sede" placeholder="Ingresa una sede" required>
                            <span ng-show="InvalidED && formED.sedeD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.cargoD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Cargo</label>
                            <input type="text" class="form-control" name="cargoD" ng-model="directos.cargo" placeholder="Ingresa un cargo" required>
                            <span ng-show="InvalidED && formED.cargoD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.cityD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Ciudad</label>
                            <input type="text" class="form-control" name="cityD" ng-model="directos.ciudad" placeholder="Ingresa una ciudad" required>
                            <span ng-show="InvalidED && formED.cityD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.DateinD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Fecha de ingreso</label>
                            <input type="text" class="form-control" name="DateinD" ng-model="directos.fechaIngreso" placeholder="ingresa una fecha" required>
                            <span ng-show="InvalidED && formED.DateinD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && formED.gerenciaD.$invalid}">
                            <label for="first_name" class="form-label mr-2 font-txt">Gerencia</label>
                            <input type="text" class="form-control" name="gerenciaD" ng-model="directos.gerencia" placeholder="Ingresa una gerenciae" required>
                            <span ng-show="InvalidED && formED.gerenciaD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>
                        <div class="form-group subFormControl" ng-class="{'has-error': InvalidED && regionD.nameD.$invalid}">
                            <label for="last_name" class="col-xs-3 col-form-label mr-2 font-txt">Región</label>
                            <input type="text" class="form-control" name="regionD" ng-model="directos.region" placeholder="Ingresa una región" required>
                            <span ng-show="InvalidED && formED.regionD.$invalid" class="help-block text-danger Invalid"> 
                                Campo obligatorio!
                            </span>
                        </div>    
                    </div>    
                </div>
                    
                <div class="boton text-center" style="margin-bottom: 1%;">
                    <button ng-click="cancelar1()" type="button" class="btn botonCancelar">Cancelar</button> 
                    <button type="submit"  class="btn botonCrear">Guardar</button>
                </div>    
            </form>
        </div>    
    </div>    
</div>

<!--------------------------------------------------------------------------Modal crear directo-------------------------------------------------------------------------------->

<div id="modalDirecto" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">El nuevo directo ha sido creado<br>exitosamente.</p> 
                <div class="text-center pb-4 pt-4">
                    <button data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------Modal editar directo-------------------------------------------------------------------------------->

<div id="modaleditDirecto" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">Los datos del directo han<br>sido guardados exitosamente</p> 
                <div class="text-center pb-4 pt-4">
                    <button type="button" data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------Modal Deshabilitar Directo-------------------------------------------------------------------------------->
<div id="modalDesDirecto" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">¿Está seguro que desea deshabilitar<br>a este directo?</p> 
                <div class="text-center pb-4 pt-4">                   
                    <button type="button" data-dismiss="modal" class="botonModal1">Cancelar</button>
                    <button ng-click="habDirectos()" data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------Modal habilitar Directo-------------------------------------------------------------------------------->
<div id="modalHabDirecto" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center" style="font-size: 19px;line-height: 100%;color:#444444">¿Está seguro que desea Habilitar<br>a este directo?</p> 
                <div class="text-center pb-4 pt-4">                   
                    <button type="button" data-dismiss="modal" class="botonModal1">Cancelar</button>
                    <button ng-click="desDirectos()" data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------Modal error-------------------------------------------------------------------------------->

<div id="modalError" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal">{{mensajeError}}</p> 
                <div class="text-center pb-4 pt-4">
                    <button data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------Modal error sv-------------------------------------------------------------------------------->

<div id="modalErrorsv" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal"> {{mensajeError}}</p> 
                <div class="text-center pb-4 pt-4">
                    <button data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>