<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0">
            <div class="img" style="background-image: url('img/fondologin.png'); width:100%; height:100vh"></div>
        </div>
        <div class="col-md-6">
            <div class="logo text-center">
                <img src="img/clarologo.png" class="img-fluid" style="margin-top: 15%;">
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="text-center" style="margin-top: 5%;">
                        <p style="color:#828282;font-size:15px">Ingresa tu correo electrónico y tu número de identificación.</p>
                    </div>
                    <div style="margin-top: 13%;">
                        <form  name="formLogin" ng-submit="validateForm()" novalidate>
                            <div class="form-group" ng-class="{'has-error': invalidlog && formLogin.user.$invalid}">
                                <label for="correo">Correo Electrónico</label>
                                <input  type="text" name="user" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="login.correo" class="form-control" size="60" placeholder="micorreo@micorreo.com" required id="correo" style="color: #575757;padding: .375rem .75rem;padding-left: 1.5rem;padding-top: 0.775rem;padding-bottom: 0.775rem;height: auto;" required>
                                <span ng-show="invalidlog && formLogin.user.$invalid" class="help-block text-danger Invalid"> 
                                    Email invalido!
                                </span> 
                            </div>    
                            <div class="form-group" ng-class="{'has-error': invalidlog && formLogin.user.$invalid}">
                                <label for="contraseña">Contraseña</label>
                                <div class="input-group">
                                    <input type="{{tipo}}" name="pass" ng-model="login.clave" class="form-control" placeholder="Escribe tu contraseña" id="contraseña"  style="color: #575757;padding: .375rem .75rem;padding-left:1.5rem;padding-top: 0.775rem;padding-bottom: 0.775rem;height: auto;" required>   
                                    <div class="input-group-append">
                                      <span class="input-group-text" ng-click="showPass()"><i ng-class="{'far fa-eye': toggle , 'fas fa-eye-slash': !toggle}"></i></span>
                                    </div>
                                </div>
                                <span ng-show="invalidlog && formLogin.pass.$invalid" class="help-block text-danger Invalid"> 
                                    Campo obligatorio!
                                </span>
                            </div>
                            <span ng-show="loginIn" class="help-block text-danger Invalid">
                                Usuario o clave incorrecta!
                            </span>
                            <div class="text-center">
                                <p style="color:#828282;font-size:13px">Si requieres recuperar tu contraseña comunícate con el administrador</p>
                            </div>
                            <div class="text-center" style="margin-top:15%">                                 
                               <input type="submit"  class="form-control btn btn-login" value="Iniciar sesión" style="background-color: #EF3829;color: white;font-size: 1.1vw !important;width: 49%;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalErrorLogin" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 4%;">           
            <div class="modal-body">
                <div class="text-center pt-4 pb-4">
                    <img class="img-fluid" src="img/Claroteayuda.png">               
                </div>
                    <p class="text-center parrafoModal">{{mensajeError}}</p> 
                <div class="text-center pb-4 pt-4">
                    <button data-dismiss="modal" class="botonModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
