.color-primary-cta{
    color:#E94130;
}
.color-bgcprimary-cta{
    background-color: #E94130;
}
.color-second-cta{
    color: #343434;
}
.color-acent-cta{
    color: #F2F2F2;
}
.color-bgcacent-cta{
    background-color: #F2F2F2
}
.fc-white{
    color: #FFFFFF;
}
.fc-black{
    color: #222222;
}
.fc-red{
    color: #E94130;
}
.bgc-black{
    background-color: #222222
}
.bgc-white{
    background-color: #FFFFFF;
}
brdcacent-gray{
    border: 1px solid #F2F2F2;
}
